@import "bem";
@import "../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";

$fonte-principal: 'Roboto Slab', serif;

$cor-logo-terciaria: #30aadd;

html,
body {
  margin: 0;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

// Com flexbox
//.header {
//  background-color: #f1f1f1;
//
//  @include element('wrapper') {
//    @include display(flex);
//    @include justify-content(space-between);
//    @include align-items(center);
//  }
//
//  @include element('logo') {
//   @include flex(0 0 200px);
//
//    img {
//      width: 100%;
//      height: auto;
//    }
//  }
//
//  @include element('menu') {
//    padding-left: 20px;
//
//   @include flex(0 0 calc(100% - 400px));
//
//    ul {
//      padding: 0;
//      list-style: none;
//
//      @include display(flex);
//      @include justify-content(space-between);
//    }
//
//    a {
//      padding-bottom: 20px;
//
//      text-decoration: none;
//      color: #333333;
//      text-transform: uppercase;
//      font-family: $fonte-principal;
//      font-size: em(20);
//
//      border-bottom: 4px solid transparent;
//
//      transition: all .4s ease-in-out;
//
//      &:hover {
//        border-bottom-color: $cor-logo-terciaria;
//      }
//    }
//  }
//}

// Sem flexbox
.header {
  height: 115px;

  background-color: #f1f1f1;

  @include element('logo') {
    display: inline-block;
    width: 200px;

    img {
      width: 100%;
      height: auto;
    }
  }

  @include element('menu') {
    position: relative;
    top: -20px;

    display: inline-block;
    padding-left: 130px;

    ul {
      width: 800px;

      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        & + li {
          margin-left: 50px;
        }
      }
    }

    a {
      padding-bottom: 20px;

      text-decoration: none;
      color: #333333;
      text-transform: uppercase;
      font-family: $fonte-principal;
      font-size: em(20);

      border-bottom: 4px solid transparent;

      transition: all .4s ease-in-out;

      &:hover {
        border-bottom-color: $cor-logo-terciaria;
      }
    }
  }
}
