@import "bem";
@import "../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";

$fonte-principal: 'Roboto Slab', serif;

$cor-logo-terciaria: #30aadd;

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

// Com flexbox
.header {
  background-color: #f1f1f1;

  @include element('wrapper') {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
  }

  @include element('logo') {
    @include flex(0 0 200px);

    img {
      width: 100%;
      height: auto;
    }
  }

  @include element('menu') {
    padding-left: 20px;

    @include flex(0 0 calc(100% - 400px));

    ul {
      padding: 0;
      list-style: none;

      @include display(flex);
      @include justify-content(space-between);
    }

    a {
      padding-bottom: 20px;

      text-decoration: none;
      color: #333333;
      text-transform: uppercase;
      font-family: $fonte-principal;
      font-size: em(20);

      border-bottom: 4px solid transparent;

      transition: all .4s ease-in-out;

      &:hover {
        border-bottom-color: $cor-logo-terciaria;
      }
    }
  }
}

.planos {
  margin-top: 30px;

  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  @include element('item') {
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;

    background-color: #f1f1f1;
    border-radius: 5px;

    @include flex(0 0 calc(100% / 3 - 10px));

    //&:nth-child(1) {
    //  @include order(2);
    //}
    //
    //&:nth-child(2) {
    //  @include order(1);
    //}
    //
    //&:nth-child(3) {
    //  @include order(2);
    //}
  }

  @include element('item-header') {
    text-align: center;

    h1 {
      margin: 0 0 20px 0;

      text-transform: uppercase;
      font-family: $fonte-principal;
      font-weight: 900;
    }
  }

  @include element('item-descricao') {
    text-align: center;

    span {
      font-family: $fonte-principal;
      font-weight: 300;
    }
  }
}

.planos-footer {
  margin-top: 20px;
  padding-top: 20px;

  font-family: $fonte-principal;

  border-top: 1px solid #dddddd;

  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);

  @include element('valor') {
    line-height: 1;

    @include flex(0 0 150px);

    strong {
      display: block;

      font-size: em(24);
      color: #0a6b94;
    }
  }

  @include element('conheca') {
    margin-left: auto;

    text-align: right;

    @include flex(1 1 auto);

    a {
      padding: 10px;

      color: #333333;
      text-transform: uppercase;

      background-color: #dddddd;
      border-radius: 5px;
    }
  }
}
