.texto-contraste-branco {
  display: inline-block;
  padding: 10px !important;

  color: #ffffff !important;

  background-color: rgba(0, 0, 0, .5);
}

.exemplo-div-bloco {
  div {
    border: 1px solid #333333;

    & + div {
      margin-top: 10px;
    }
  }
}

.exemplo-div-inline {
  .container-divs {
    &.background {
      display: inline-block;

      background-color: red;
    }

    div {
      display: inline-block;
      padding: 10px !important;

      background-color: #fdf6e3;
      border: 1px solid #333333;
    }
  }
}
